.profile {
    width: 20%;
    background-color: rgb(132, 183, 230);
    padding: 1%;
    margin: 1%;
    margin-left: 10%;
    height: auto;
}
.info {
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0%;
}
.profileflex {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    transform: translate(0%, -120%);
    margin-left: -4.5%;
    margin-top: -2%;
}
.bg-text2 {
    color: white;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    margin: 0%;
    padding: 0%;
}