.courseprofile {
    width: 10%;
    height: 10%;
    background-color: #D9D9D9;
    padding: 1%;
    margin: 1%;
    margin-left: 1%;
    border-radius: 10px
}
.courseinfo {
    text-align: left;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0%;
}
.courseprofileflex {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 110%;
    margin-top: -10%;
    transform: translate(-5%, -150%);
    flex-wrap: wrap;
}
.courseprofileflex2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 110%;
    transform: translate(-5%, -130%);
    flex-wrap: wrap;
}