.contacthead {
    font-weight: bold;
    position: relative;
    border: none;
    text-align: center;
    margin: -2%;
    padding: 0%;
    top: 50%;
}
.form {
    background-color: rgb(132, 183, 230);
    width: 110%;
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
}
.emailimg {
    border-radius: 20px;
    position: absolute;
    left: 70%;
    margin: 0%;
    padding: 0%;
    transform: translate(-40%, -140%);
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}